@import "~@react-md/theme/dist/color-palette";

$rmd-theme-light: true;
$rmd-theme-primary: $rmd-teal-500;
$rmd-theme-secondary: $rmd-pink-a-200;

// $rmd-theme-primary: $rmd-purple-500;
// $rmd-theme-secondary: $rmd-pink-a-200;

// $rmd-theme-dark-elevation: 'prefers-color-scheme';
//$rmd-utils-auto-dense: false;
